/* login登录头部 开始*/

.login-header{
   
    height: 110px;
    /* background-color: pink; */

}

.login-header .logo-box {
    font-size: 0px;
    margin-top: 60px;
    margin-right: 10px;
}
.login-header .wc-login{
    
    font-size: 20px;
    color: #8c8c8c;
    border-left: 1px solid  #8c8c8c;
    padding: 5px 10px;
    margin-top: 60px;
}
/* login登录头部 end */


/*主体start */

.zhut {
    position: relative;
    width: 100%;
    height:450px ;
}
.zhut .bg-tu{
    width: 100%;
    height: 100%;
}
.zhut .formm{
    position: absolute;
    right: 300px;
     top: 35px;
    width:350px ;
    height: 378px;
    background-color: #fff;
    border-top: 2px solid #f26b11;
}
.zhut .formm .form-login{
    width: 280px;
    height: 277px;
    padding: 24px 35px ;
}
.zhut .formm .form-login .form-top{
    font-weight: 600;
    font-size: 16px;
    padding-bottom: 25px;
}
.zhut .formm .form-login .form-name{
    position: relative;
      width: 278px;
      height: 34px;
       border:1px solid  #d2d2d2;
      /* border:1px solid  #f26b11; */
      margin-bottom: 13px;
    
     
}
.zhut .formm .form-login .form-name:hover{
    border:1px solid  #f26b11;
}
.zhut .formm .form-login .form-name:hover .icon-youxiang{
   border-right: 1px solid #f26b11;
   color:#f26b11;

}
.zhut .formm .form-login .form-name .tex{
       width:228px;
       height: 34px;
       padding-left: 50px;
    
}
.zhut .formm .form-login .icon-youxiang
{   
    position: absolute;
    /* left: -1px;
    top: -1px; */
    padding: 4px 6px 0px;
    color: #d2d2d2;
    font-size: 20px;
    background-color: #eee;
    /* color:#f26b11; */
    border-right: 1px solid #d2d2d2;
    /* border-right: 1px solid #f26b11; */
   
}



.zhut .formm .form-login .form-password{
    position: relative;
      width: 278px;
      height: 34px;
      /* border:1px solid  #f26b11; */
       border: 1px solid #d2d2d2;
       margin-bottom: 13px;
     
}
.zhut .formm .form-login .form-password:hover{
    border:1px solid  #f26b11;
}
.zhut .formm .form-login .form-password:hover .icon-mima1{
   border-right: 1px solid #f26b11;
   color:#f26b11;

}
.zhut .formm .form-login .form-password .tex{
       width:228px;
       height: 34px;
       padding-left: 50px;
    
}
.zhut .formm .form-login .icon-mima1
{   
    position: absolute;
    /* left: -1px;
    top: -1px; */
    padding: 4px 6px 0px;
    color: #d2d2d2;
    font-size: 20px;
    /* color:#f26b11; */
     border-right: 1px solid #d2d2d2;
      background-color: #eee;
    /* border-right: 1px solid #f26b11; */
}





.zhut .formm .form-login .form-verify{
    /* position: relative; */
      width: 278px;
      height: 34px;
      /* border:1px solid  #f26b11; */
       /* border: 1px solid #d2d2d2; */
       margin-bottom: 13px;
      
     
}
.zhut .formm .form-login .form-verify .tex:hover{
    border:1px solid  #f26b11;
}
.zhut .formm .form-login .form-verify .tex{
       width:208px;
       height: 34px;
       padding-left: 8px;
       border: 1px solid #d2d2d2
    
}
.zhut .formm .form-login .v-number
{   display:inline-block;
    vertical-align: bottom;
   
    color: #3c58aa;
    font-style: italic;
    font-weight: 600;
    font-size: 18px;
   
   
}

/* .zhut .form .form-login .form-button
{
    width: 278px;
      height: 34px;
} */

.zhut .formm .form-login .deng{
    width: 278px;
      height: 34px;
      background-color: #f26b11;
      color: white;
      border-radius: 3px;
      font-size: 16px;
         margin-bottom: 6px;
}



.function{
    width: 100%;
    height: 40px;

}
.function .autodeng{
    vertical-align: middle;
}



.form-bottom{
    width: 100%;
    height: 50px;
    /* background-color: black; */
    border-top: 1px solid #ccc;
    line-height: 50px;
    /* padding: 0 30px; */
}
.form-bottom .bblue{
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color:#1ca4f3;
    margin: 0 2px 0 20px;
    vertical-align: middle;
}
.form-bottom .rred{
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #e5241e;
    margin: 0 2px 0 20px;
    vertical-align: middle;
}
.form-bottom .ggreen{
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color:#1bdb41;
    margin: 0 2px 0 20px;
    vertical-align: middle;
}
.form-bottom .zzcc{
      font-size:15px ;
      color: #f57126;
      margin-left: 82px;
}


/* .login-bottom .beian{
   width: 100%;
 
   border-top: 1px solid #3b3b3b;
   color: #646464;
}
.login-bottom .beian .bei1{
    width: 700px;
    text-align: center;
    margin: 30px auto 0;
}
.login-bottom .beian .bei2{
    width: 700px;
    text-align: center;
    margin: 5px auto 0;
} */
/* 主体end */