
        span {
            font-size: 100px;
        }

        .blue {
            color: #3a83fa;
            border: 1px solid #000;

        }

        .red {
            color: red;
        }

        .green {
            color: green;
        }

        .or {
            color: orange;
        }
.a {
    color: skyblue;
}