.fn14White {
  font-size: 0.28rem;
  color: #fff;
}
.max {
  width: 100%;
  min-width: 320px;
  max-width: 750px;
}
header {
  width: 100%;
  min-width: 320px;
  max-width: 750px;
  height: 1.6rem;
  background-color: red;
}
