.p{
   background-image: -webkit-linear-gradient(red,yellow);
   background-image: -moz-linear-gradient(red,yellow);
   background-image: -o-linear-gradient(red,yellow);
   background-image: linear-gradient(red,yellow);
}