* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
i {
  font-style: normal;
}
a {
  text-decoration: none;
  color: black;
}
.box {
  width: 1200px;
  height: 650px;
  background-color: #e96f30;
  padding: 0px 110px 0 110px;
  margin: 100px auto;
}
.box .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title .midd {
  width: 870px;
  display: flex;
  justify-content: space-between;
  line-height: 70px;
}
.title .midd a {
  font-weight: 600px;
  font-size: 18px;
  color: white;
}
.title .midd a:hover {
  color: yellow;
  transform: scale(1.5);
}
.box ul {
  height: 550px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: space-between;
}
.box ul li {
  position: relative;
  width: 188px ;
  height: 270px;
  background-color: #fff;
  border-radius: 10px;
}
.box ul li a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0 0px 10px 0px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.box ul li a .iimg {
  width: 130px;
  height: 170px;
  padding-top: 2px;
}
.box ul li a .wen1 {
  width: 155px;
  font-size: 13px;
  padding-top: 16px;
}
.box ul li a .wen2 {
  width: 160px;
  font-size: 25px;
  color: #f02b2b;
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
}
.box ul li a .wen4 {
  position: absolute;
  left: 9px ;
  top: 142px;
  width: 170px;
  height: 32px;
  background-image: url(../img/bg2.png);
  font-size: 13px;
  color: white;
  text-align: center;
  line-height: 40px;
}
