 @media screen and (min-width: 320px) {

            /* 1rem = 42.6667 */

            html {
                font-size: 42.6667px;
            }


        }

      

        @media screen and (min-width: 360px) {

            /* 1rem = 48px */

            html {
                font-size: 48px;
            }


        }

        @media screen and (min-width: 375px) {

            /* 1rem = 50 */

            html {
                font-size: 50px;
            }


        }

        @media screen and (min-width: 414px) {

            /* 1rem =  55.2px*/

            html {
                font-size: 55.2px;
            }


        }

       
        @media screen and (min-width: 540px) {

            /* 1rem =  72px*/

            html {
                font-size: 72px;
            }


        }

        @media screen and (min-width: 640px) {

            /* 1rem =  85.3px*/

            html {
                font-size: 85.3px;
            }


        }

        @media screen and (min-width: 750px) {

            /* 1rem =  100px*/

            html {
                font-size:100px;
            }


        }
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font: 12px/1.5 Microsoft YaHei,Heiti SC,tahoma,arial,Hiragino Sans GB,"\5B8B\4F53",sans-serif;
    
}

ul ,ol {
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}
img {
    /* 图文对齐 以中线对齐 */
    vertical-align: middle;
}
em,i {
    font-style: normal;
}
b,strong {
    font-weight: 400;
}
table {
    border-collapse: collapse;
}
input{
    /* border: none;
    outline: none; */
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.clearfix::after,.clearfix::before {
    content: '';
    display: block;
    clear: both;
}
.brn {
    border-right:none;
}
.brb {
    border-bottom:none;
}
/* 版心类 */

/* input{
    border: 0;
    外轮廓
    outline:none;
} */