/* 写公共样式 头部 底部样式 */


/* 顶部导航开始 */
.top-nav {
    width: 100%;
    height: 39px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #f2f2f2;

}

.top-nav li {
    float: left;
    line-height: 39px;
    margin-right: 14px;
}
.top-nav li a {
    color: #555;
    font-size: 12px;

}
.top-nav .maincolor {
    color: #f26b11;
}
.top-nav li:hover a {
    color: #f26b11;
}

/* 顶部导航结束 */


/* 头部样式开始 */
.u-header  {
    height: 100px;
   
}
.logo-box {
    font-size: 0px;
    margin-top: 25px;
}
.header-right {
    margin-left: 150px;
}

.search-box {
    margin-top: 26px;
    margin-bottom: 6px;
    width: 536px;
    height: 36px;
    /* background-color: skyblue; */
    border: 2px solid  #f26b11;
    line-height:36px ;
    color: #ccc;

}
.search-box a{
       float: right;
       width:120px;
       height: 100%;
       text-align: center;
       font-weight: 800;
       font-size: 20px;
       color: white;
       background-color: #f26b11;
}
.search-box i{
    padding: 0px 3px;
    font-size: 12px;
}
.header-nav li {
    float: left;
}
.shu {
    margin: 4px 8px 0px 8px;
    width: 1px;
    height: 12px;
    background-color:#d5d5d5;
}
.header-nav .maincolor {
    color: #f26b11;
}
.header-right li a {
    color: #9997a2;
}
.header-right li:hover a {
    color:  #f26b11;
}

/* 头部样式结束 */

/*产品列表 开始 */
.prolist{
    height: 38px;
    margin-top: 20px;

}
.fenlei{
    /* display: inline-block; */ 
    position: relative;
    float: left;
    width: 190px;
    height: 38px;
  
    color: white;
    font-weight: 700;
    font-size: 14px;
  
  
       line-height: 38px;
     background-color:#f26b11 ;

}
.fenlei a{
     font-weight: 700;
     font-size: 14px;
     color: white;
}





.fenlei i{
     color: white;
     font-weight: 700;
     font-size: 14px;
margin-left: 8px;
}
.zzz{
    position: absolute;
    left: 0;
    top: 38px;
    width:190px;

height:480px;
background-color: black;
z-index: 40;
}
.zzz a{
color: white;
font-weight: 500;
font-size: 14px;
}
.zzz ul{
margin-left: 8px;
padding: 7px 0 4px;
}
.zzz ul li{
    display: inline-block;
    }
.zzz .shu{
margin: 0px 2px 0px 2px;
width: 1px;
height: 12px;
background-color:#bbb;

}
.prolist  .zzz ul a:hover{
color:#f26b11 ;
}
.prolist-x {
    float: left;
}
.prolist-x li{
  
    display: inline-block;
    font-weight: 700;
    font-size: 14px;
    color: black;
    margin-left: 21px;
   line-height: 38px;
    
}
.prolist-x li a{
        color: black;
}

.prolist .prolist-x a:hover{
    color: #f26b11;
}

/* 产品列表结束 */


/* 广告图片开始 */

.bgbanner {
       width: 100%;
       height: 480px;
       background-color:#f43f52;
}
.banner img{
   
    width: 100%;
    height: 480px;
}
.banner{
    position: relative;
}
.bgbanner .icon-xiangzuolajiantou{
    font-weight: 300;
    font-size: 25px;
    position: absolute;
    left: 190px;
    top: 225px;
}
.bgbanner .icon-xiangyoulajiantou{
    font-weight: 300;
    font-size: 25px;

    position: absolute;
   right: 0;
    top: 225px;
}
/* 广告图片结束 */