/* 写公共样式 头部 底部样式 */


/* 顶部导航开始 */
.top-nav {
    width: 100%;
    height: 39px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #f2f2f2;

}

.top-nav li {
    float: left;
    line-height: 39px;
    margin-right: 14px;
}
.top-nav li a {
    color: #555;
    font-size: 12px;

}
.top-nav .maincolor {
    color: #f26b11;
}
.top-nav li:hover a {
    color: #f26b11;
}

/* 顶部导航结束 */


/* 头部样式开始 */
.u-header  {
    height: 100px;
   
}
.logo-box {
    font-size: 0px;
    margin-top: 25px;
}
.header-right {
    margin-left: 150px;
     margin-top: 26px;
    margin-bottom: 6px;
     width: 540px;
    height: 60px;
    /* background-color: pink; */
}
.search-box .tex{
    float: left;
    width: 398px;
    height: 34px;
    border-width:2px 0 2px 2px ;
    border-color:#f26b11 ;
    border-style: solid;
    padding-left: 20px;
    color:#555 ;
}
.search-box .sub{
    float: left;
    width: 120px;
    height: 38px;
    border: 2px solid #f26b11;
    background-color: #f26b11;
   font-weight: 700;
    font-size: 20px;
   color: white;

}
.search-box{
    position: relative;
    line-height: 38px;

}
.search-box .icon-sousuo{
    position: absolute;
    left: 5px;
    font-size: 14px;

}

/* .search-box {
  
   
 
    border: 2px solid  #f26b11;
    line-height:36px ;
    color: #ccc;

} */
/* .search-box a{
       float: right;
       width:120px;
       height: 100%;
       text-align: center;
       font-weight: 800;
       font-size: 20px;
       color: white;
       background-color: #f26b11;
} */
/* .search-box i{
    padding: 0px 3px;
    font-size: 12px;
} */
.header-nav li {
    float: left;
}
.shu {
    margin: 4px 8px 0px 8px;
    width: 1px;
    height: 12px;
    background-color:#d5d5d5;
}
.header-nav .maincolor {
    color: #f26b11;
}
.header-right li a {
    color: #9997a2;
}
.header-right li:hover a {
    color:  #f26b11;
}

/* 头部样式结束 */

/*产品列表 开始 */
.prolist{
    height: 38px;
    margin-top: 20px;

}
.fenlei{
    /* display: inline-block; */ 
    position: relative;
    float: left;
    width: 190px;
    height: 38px;
  
    color: white;
    font-weight: 700;
    font-size: 14px;
  
  
       /* line-height: 38px; */
     background-color:#f26b11 ;

}
.fenlei a{
     font-weight: 700;
     font-size: 14px;
     color: white;
}





.fenlei i{
     color: white;
     font-weight: 700;
     font-size: 14px;
margin-left: 8px;
}
.zzz{
    position: absolute;
    left: 0;
    top: 38px;
    width:190px;

height:480px;
background-color: black;
z-index: 40;
}
.zzz a{
color: white;
font-weight: 500;
font-size: 14px;
}
.zzz ul{
margin-left: 8px;
padding: 7px 0 4px;
}
.zzz ul li{
    display: inline-block;
    }
.zzz .shu{
margin: 0px 2px 0px 2px;
width: 1px;
height: 12px;
background-color:#bbb;

}
.prolist  .zzz ul a:hover{
color:#f26b11 ;
}
.prolist-x {
    float: left;
}
.prolist-x li{
  
    display: inline-block;
    font-weight: 700;
    font-size: 14px;
    color: black;
    margin-left: 21px;
   line-height: 38px;
    
}
.prolist-x li a{
        color: black;
}

.prolist .prolist-x a:hover{
    color: #f26b11;
}

/* 产品列表结束 */








/* end */
.endd{
    position: relative;
    width: 320px;
    height: 61px;
    text-align: center;
    line-height: 61px;
    margin: 0 auto;
}
.endd .left-line{
    position: absolute;
    left: 0;
    top: 30px;
    width: 96px;
    height: 1px;
    background-color: #cdcdcd;
}
.endd .right-line{
    position: absolute;
    right: 0;
    top: 30px;
    width: 96px;
    height: 1px;
    background-color: #cdcdcd;
}
.endd .middle-zi{
    font-weight: 700;
     font-size: 18px;
    color: #cdcdcd;
}
/* end */
/* 商品页面结束 */


/* 固定栏start */
.fixx a{
    display: block;
    width: 100%;
    height: 100%;
}
.fixx .div-a{
    width: 70px;
    height: 38px;
    font-weight: 600;
    font-size: 14px;
    line-height: 48px;
    text-align: center;
    border: 1px solid #ccc;
}
.fixx .div-b{
     width: 70px;
    height: 29px;
    font-weight: 600;
    font-size: 14px;
    line-height: 29px;
    text-align: center;
    border: 1px solid #ccc;
    border-top: none;
}
.fixx .div-c a{
    width: 70px;
    height: 29px;
    font-weight: 600;
    font-size: 14px;
    line-height: 29px;
    text-align: center;
    color: #fe9900;
     border: 1px solid #ccc;
    border-top: none;
}
.fixx .div-c .x-box{
    display: inline-block;
        width: 13px;
        height: 15px;
        background:url(../img/sprite.png) no-repeat -768px -89px;
        /* color: #fe9900; */
        margin-right: 2px;
        vertical-align: middle;
}
.fixx .cc:hover a{
    background-color:#fe9900;
    color: white;
}
.fixx{
    position: fixed;
    left: 272px;
    bottom: 160px;
    background-color: #f8f8f8;
}
/* .fixx{
    top: 50%;
    left: 50%;
    z-index: 1000;
    right: auto;
    margin-left: -670px;
    margin-top: -106px;
    display: block;
    z-index: 50;
} */
/* 固定栏end */


/* 底部栏start */
.nav-bottom{
    width: 100%;
    height: 342px;
    background-color: #333333;
}
.nav-bottom .mind {
    width: 800px;
    height: 190px;
    margin: 0px auto;
    padding-top: 20px;
    color: #b3b3b3;

}
.nav-bottom .mind a{
          color: #b3b3b3;
          font-size: 13px;
}
.nav-bottom .mind dd:hover a{
        color  :#fe9900;
}
.nav-bottom .mind .ddl{
    margin-right: 105px;
}

.nav-bottom .mind dt{
    height: 45px;
    line-height: 40px;
    font-weight: 700;
    font-size: 16px;
}
.nav-bottom .mind dd{
    height: 30px;
    list-style: 30px;
    font-size: 13px;
}
.beian{
   width: 100%;
   /* height: 100px; */
   border-top: 1px solid #3b3b3b;
   color: #646464;
}
 .beian .bei1{
    width: 700px;
    text-align: center;
    margin: 30px auto 0;
}
 .beian .bei2{
    width: 700px;
    text-align: center;
    margin: 5px auto 0;
}
/* 底部栏end */