* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background-color: #f2f2f2;
  font: 12px/1.5 Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, "\5B8B\4F53", sans-serif;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  /* 不具有基线对齐现象 */
  display: block;
}
em,
i {
  font-style: normal;
}
b,
strong {
  font-weight: 400;
}
table {
  border-collapse: collapse;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix::after,
.clearfix::before {
  content: '';
  display: block;
  clear: both;
}
.brn {
  border-right: none;
}
.bbn {
  border-bottom: none;
}
input {
  border: 0;
  /* 外轮廓 */
  outline: none;
}
html {
  font-size: 13.333335vw;
}
